.ShoppingCart
  position: relative
  border: none
  color: $text-color
  background-color: transparent
  cursor: pointer
  &__counter
    position: absolute
    top: -10px
    right: -4px
    z-index: 1
    display: inline-block
    width: 16px
    height: 16px
    font-size: 12px
    line-height: 1.5
    text-align: center
    border-radius: 50%
    background-color: $main-contrast
  & > svg
    width: 20px
    height: 20px
    fill: $text-color
  &__items
    position: absolute
    right: 0
    width: 250px
    max-width: 320px
    padding: 8px
    border: 1px solid $border-color
    border-radius: 4px
    background-color: $color-primary
  &__buyButton
    width: 100%
    padding: 8px
    border-radius: 8px
    border: none
    font-weight: 700
    color: $text-color
    cursor: pointer
    background-color: $main-contrast